/* |||| IMPORT |||| */
/* FONT FAMILY */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* |||| CUSTUM PROPERTIES |||| */

:root {
    /* COLORS */
    --black: rgb(18, 18, 18);
    --dark-blue: rgb(25, 32, 45);
    --grey-100: rgb(231, 234, 238);
    --grey-200: rgb(207, 207, 207);
    --grey-400: rgb(103, 109, 126);
    --grey-500: rgb(72, 85, 106);
    --purple-50: rgb(237, 228, 255);
    --purple-300: rgb(167, 117, 241);
    --purple-500: rgb(115, 63, 200);
    --white: rgb(255, 255, 255); 

    /* TEXT */
    /* font size */
    --font-size--name-and-test: 1rem;
    --font-size--grad-status: 0.846rem;
    --font-size--comment: 1.538rem;
    /* font weight */
    --font-weight--semi-bold: 500;
    --font-weight--md: 400;
}

/* |||| GENERAL |||| */

/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERAL STYLING */

html {
    background-color: #F6F5F6;
    font-size: 13px;
}

main {
    display: flex;
    justify-content: center;
    padding: 5.615em 0;
}

/* SCREEN READER - TITLE */

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* TEXT */

h2, p {
    font-weight: var(--font-weight--semi-bold);
}

h2, blockquote {
    font-size: var(--font-size--name-and-test);
}

h2, h3 {
    line-height: 110%;
}

h3 {
    font-size: var(--font-size--grad-status);
    margin-block-start: 0.364em;
}

h2, h3, blockquote {
    font-weight: var(--font-weight--md);
}

p {
    font-size: var(--font-size--comment);
    line-height: 120%;
    margin-block-end: 0.8em;
    
}

blockquote {
    line-height: 140%;
}

/* CONTAINERS */

.grid-container {
    display: grid;
    /* gap: 32px; */
    gap: 2.462em;
    grid-template-columns: 1fr;
}

/* ||||  CARD |||| */

.card {
    border-radius: 8px;
    box-shadow: 40px 70px 30px 10px var(--grey-200);
    font-family: "Barlow Semi Condensed", sans-serif;
    padding: 2.462em;
    max-width: 46ch;
}

.personal-id {
    display: flex;
}

.personal-id {
    margin-block-end: 1.231em;
}

.id--text {
    margin-inline-start: 1.154em;
}

/* CARD BACKGROUND-COLOR AND COLOR */

.bg-purple-500 {
    background-color: var(--purple-500);
    color: var(--white);
}

.color-purple-50 {
    color: var(--purple-50);
}

.bg-grey-500 {
    background-color: var(--grey-500);
    color: var(--white);
}

.color-grey-200 {
    color: var(--grey-200);
}

.color-grey-100 {
    color: var(--grey-100);
}

.bg-white {
    background-color: var(--white);
    color: var(--grey-500);
}

.color-grey-400 {
    color: var(--grey-400);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
    color: var(--white);
}

img {
    align-self: center;
    border-radius: 50%;
    height: 2.154em;
    object-fit: contain;
}

figure {
    display: flex;
    align-items: center;
    border: 2px solid var(--purple-300);
    border-radius: 50%;
}

/* |||| FOOTER |||| */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

/* |||| SCREEN SIZES |||| */

/* TABLET */
@media screen and (min-width: 37.5em) {

    /* |||| GENERAL |||| */

    main {
        padding: 6.385em 4.692em 8.692em 4.615em;
    }

    /* |||| TEXT |||| */

    blockquote {
        max-width: 72ch;
    }

    p {
        max-width: 57ch;
    }

    /* |||| CONTAINERS |||| */
    .grid-container {
        grid-auto-columns: 1fr;
        grid-template-areas: 
        "d-cliff    d-cliff"
        "j-walters  j-harmon"
        "p-abrams   p-abrams"
        "k-whittle  k-whittle";
        max-width: 49.769em;
    }

    .card {
        max-width: 100%;
    }

    .d-cliff {
        background-image: url("images/bg-pattern-quotation.svg") ;
        background-repeat: no-repeat;
        background-position-x: 372px;
        grid-area: d-cliff;
    }

    .j-walters {
        grid-area: j-walters;
    }

    .j-harmon {
        grid-area: j-harmon;
    }

    .p-abrams {
        grid-area: p-abrams;
    }

    .k-whittle {
        grid-area: k-whittle;
    }
}

/* DESKTOP */

@media screen and (min-width: 68.75em) {

    /* |||| GENERAL |||| */

    main {
        padding: 17.615em 0 16.769em;
    }
    
    /* |||| CONTAINERS |||| */
    
    .grid-container {
        grid-template-areas: 
        "d-cliff    d-cliff     j-walters   k-whittle"
        "j-harmon   p-abrams    p-abrams    k-whittle";
        row-gap: 1.846em;
        max-width: 85.692em;
    }
}